<form #f="ngForm" (ngsubmit)="save(f.value)" class='cust-form'>
  
    <div class='form-group'>
        <label for='firstName'>First Name</label>
        <input ngModule name="firstName" id='firstName' type='text' class='form-control'>
    </div>
    <div class='form-group'>
        <label for='lastName'>Last Name</label>
        <input   ngModule name="lastName" id='lastName' type='text' class='form-control'>
    </div>
    <div class='form-group'>
        <label for='gender'>Gender:</label><br>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>
    </div>
    <div class='form-group'>
        <label for='adress'>Adress</label>
        <input  ngModule name="adress" id='adress' type='text' class='form-control'>
    </div>
    <div class='form-group'>
        <label for='city'>City</label>
        <input  ngModule name="city" id='city' type='text' class='form-control'>
    </div>
    <div class='form-group'>
        <label for='state'>State</label>
        <input ngModule name="state" id='state' type='text' class='form-control'>
    </div>
    <div class='form-group'>
        <label for='e-mail'>E-mail</label>
        <input  ngModule name="e-mail" id='e-mail' type='text' class='form-control'>
    </div>
    <button class='btn btn-primary'>Save</button>
    
    <a class='btn btn-primary' routerLink=''>Cancel</a>
</form>