.main-head{
    background: #183153;
    color:white;
    height:40pt;
} 

.mid{
    padding-top: 20pt;
    padding-left: 45pt; 
}
.but-add-cust{
    padding-left: 850pt;
}

.btn:hover{
    background-color: black;
}
